html{
	scroll-behavior: smooth;
}

body{
	font-family: Segoe UI;
	font-size: 13px;
	background: #eee;
	overflow-x: hidden;
	
}

/* beginning of spinner style */

#spinner {
	/* border: 1px solid red; */
	height: 100%;
	width: 100%;
	position: fixed;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #eee;
	z-index: 2;
}

#first_circle {
	height: 15rem;
	background-color: #0000d1;
	width: 15rem;
	border-radius: 50%;
	position: absolute;
	margin: auto;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	animation: changeColor 3s linear 1s;
}
@keyframes changeColor {
	0%{background-color: #0000d1;}
	30% {background-color: #0000d1;}
	50% {background-color: #0000ff;}
	80% {background-color: #0000d1;}

}
#second_circle {
	background-color: gainsboro;
	height: 13rem;
	width: 13rem;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;	
	border-radius: 50%;
}

#third_circle {
	background-color: #0000d1;
	height: 10rem;
	width: 10rem;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;	
	border-radius: 50%;
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	animation: rotate2 3s linear;
}

#fourth_circle {
	background: url('../images/me2.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	height: 8rem;
	width: 8rem;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;	
	border-radius: 50%;
}
#welcome_div{
	background: #0000d1;
	height: 37px;
	width: 15rem;
	line-height: 37px;
	position: absolute;
	top: 306px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	animation: moving 3s linear 1s;
}
@keyframes moving {
	0% {top: 306px}
	30%{top: 330px}
	50% {top: 306px}
	80% {top: 330px}
	100% {top: 306px}
}

#welcome_div::after{
	content: '';
	position: absolute;
	transform: rotate(45deg);
	top: -10px;
	left: 0;
	right: 0;
	margin: auto;
	width: 20px;
	height: 20px;
	background-color: #0000d1;
	border-bottom: 0;
	border-right: 0;
}
/* end of spinner style */
.contact{
	transition: all .5s;
	width: 150px
}
.contact span {
	transition: all .5s;
}
.contact:hover span{
	letter-spacing: 2px;
	transition: all .5s;
}
#nav{
	background: none;
	padding: 10px;
}


#tree{
	text-align: center;
	padding: 10px;
	font-size: 14px;
	background: #0000ff !important;
	color: #fff;
}

#tree2{
	text-align: center;
	padding: 10px;
	font-size: 14px;
	background: #5c5cff !important;
	color: #fff;
}

#tree3{
	text-align: center;
	padding: 10px;	
	font-size: 14px;
	/*background: brown;*/
	color: #fff;
	background: #2e2eff !important;
}

#container{
	background: url('../images/watch.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	animation: changeImage 5s 4s infinite;
}
@keyframes changeImage {
	50% {
		background: url('../images/watch2.jpg') no-repeat;
		background-position: center;
		background-size: cover;
	}
}

#skillsContainer, #contactContainer{
	padding: 20px;
	border-radius: 0px;
	background: #fff;
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	
}

#opacity{
	/* background: linear-gradient(to bottom, #0000d1, #000075); */
	padding-bottom: 140px;
	background: rgba(0, 0, 0, 0.7)
}
@media (min-width: 0) and (max-width: 640px){
	#opacity {
		background: linear-gradient(to bottom, #0000d1, #000075);
	}
}
#banner{
	color: #fff;
	font-family: Segoe UI Black;
	text-transform: uppercase;
	/* text-align: center; */
	/* text-shadow: 0 3px 6px goldenrod; */
	padding-top: 40px; 
	padding-left: 30px;
	letter-spacing: 5px;
	line-height: 40px;
}

.nav-link, .navbar-brand{
	color: #fff;
	transition: all .5s;
}

.nav-link:hover{
	color: #fff;
	background: #5c5cff;
	transition: all .5s;

}
.navbar-brand:hover{
	background: rgb(40,67,89);
	border-radius: 50%;
}

#question{
	background: #0000ff;
	color: #fff;
	padding: 20px;
	position: relative;
	font-size: 20px;
	margin-bottom: 40px;
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

#question:after{
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	background: /*rgb(0,173,124)*/ blue;
	right: 90px;
	margin-top: 4px;
	transform: rotate(45deg);
}

#question2{
	background: #2e2eff;
	color: #fff;
	font-size: 20px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;	
	padding: 20px;
	position: relative;
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);

}

#question2:after{
	content: '';
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	position: absolute;
	width: 10px;
	height: 100%;
	background: #0000d1;
	left: 0;
	top: 0;
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);

}

#question2:before{
	content: '09030306779';
	background: blue;
	height: 30px;
	padding: 2px 8px 2px 8px;
	font-size: 14px;
	position: absolute;
	right: 20px;
	bottom: -15px;
}

#hr{
 	background: #0000ff;
 	height: 3px;
 	width: 60px;
 	margin-left: 0px;
	margin-top: -5px;
	border-radius: 5px;
}

#siderow{
	background: url('../images/banner.jpg');
	background-size: cover;
	background-position: center;
	height: 400px;
}

.a{
	background: url('../images/recruitment.jpg');
	background-position: center;
	background-size: cover;
	height: 200px;
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	
}

.b{
	background: url('../images/project.jpg');
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background-position: center;
	background-size: cover;
	height: 200px;
}

.c{
	background: url('../images/poultry.jpg');
	background-position: center;
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background-size: cover;
	height: 200px;
}

.d{
	background: url('../images/reservation.jpg');
	background-position: center;
	background-size: cover;
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	height: 200px;
}

.e{
	background: url('../images/tourism.jpg');
	background-position: center;
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background-size: cover;
	height: 200px;
}

.f{
	background: url('../images/hospital.jpg');
	background-position: center;
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background-size: cover;
	height: 200px;
}

.read{
	position: absolute;
	bottom: 5px;
	right: 10px;
	font-size: 13px;
	transition: all 0.5s;
}

#fafa{
	font-size: 20px;
	background: #fff;
	color: /*rgb(0,173,124)*/ blue;
	position: relative;
	top: -40px;
	padding: 15px;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 50%;
}

#fafa2{
	font-size: 25px;
	padding-left: 20px;
	color: #fff;
}

#text_a, #text_b, #text_c, #text_d, #text_e,#text_f{
	background: rgba(55,63,74,.8);
	position: relative;
	height: 200px;
	left: 0;
	right: 0;
	color: #fff;
	text-align: center;
	padding-top: 70px;
}

#container_fluid{
	background: rgb(13,32,49);
	padding: 20px;
	color: #fff;
	text-align: center;
}

#project_1a{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/recruitment.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;

}

#project_1b{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/recruitmentb.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;
}

#project_1c{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/recruitmentc.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;
}

#project_1d{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/recruitmentd.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;
}

#project_1e{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/recruitmente.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;
}

#project_1f{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/recruitmentf.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;
}

#project_2a{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/project.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;

}

#project_2b{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/projectb.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;
}

#project_2c{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/projectc.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;
}

#project_2d{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/projectd.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;
}

#project_2e{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/projecte.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;
}

#project_2f{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/projectf.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;
}

#project_3a{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/poultry.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;

}

#project_3b{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/poultryb.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;
}

#project_3c{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/poultryc.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;
}

#project_3d{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/poultryd.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;
}

#project_3e{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/poultrye.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;
}

#project_3f{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/poultryf.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;
}

#project_4a{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/reservation.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;

}

#project_4b{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/reservationb.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;
}

#project_4c{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/reservationc.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;
}

#project_4d{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/reservationd.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;
}

#project_4e{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/reservatione.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;
}

#project_4f{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/reservationf.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;
}

#project_5a{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/tourism.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;

}

#project_5b{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/tourismb.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;
}

#project_5c{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/tourismc.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;
}

#project_5d{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/tourismd.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;
}

#project_5e{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/tourisme.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;
}

#project_5f{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/tourismf.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;
}

#project_6a{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/hospital.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;

}

#project_6b{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/hospitalb.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;
}

#project_6c{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/hospitalc.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;
}

#project_6d{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/hospitald.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;
}

#project_6e{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/hospitale.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;
}

#project_6f{
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	background: url('../images/hospitalf.jpg');
	background-size: cover;
	background-position: center;
	height: 200px;
}

#scrollToTop {
	position: fixed; 
	bottom: 20px; 
	right: 20px; 
	color: white;
	background-color: blue;
	padding: 10px;
	z-index: 1;
	font-size: 20px;
	border-radius: 50%;
	padding-left: 15px;
	padding-right: 15px;
	cursor: pointer;
	transition: all .5s;
	display: none;
}
#scrollToTop:hover{
	background-color: rgb(0,0,150);
}
footer{
	background: #000075;
	color: #fff;
	padding: 40px;
	text-align: center;
}
